body h1 a {
    color: #FCA205;
    font-family: 'Cormorant Garamond';
}

.page-header h1 a {
	padding-left: 40%;
	color: #01060f;
	font-family: 'Cormorant Garamond',serif;
}

body {
    padding-left: 2%;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

.publish-date {
	font-size: 12px;
	font-family: 'Times New Roman';
}
